<h1>Clientes Cadastrados</h1>

<div class="receita-container">
    {{#each listar}}
     <hr>
    <strong> #{{this.id}} </strong> -

     <a href="/receita/{{this.id}}">{{nome}}</a> - Médico responsável - {{medico}} <hr> 

    {{/each}}
</div>