<h1>Prescrição</h1>
<hr>

<form action="receita/insertreceita" method="post">

     <div class="form-control">

          <label for="nome">Nome:</label>
          <input type="text" name="nome" placeholder="Insira o nome do paciente">
     </div>

     <div class="form-control">

          <label for="cpf">Cpf:</label>
          <input type="text" name="cpf" placeholder="Insira o cpf do paciente">

     </div>

     <div class="form-control">

          <label for="telefone">Telefone:</label>
          <input type="text" name="telefone" placeholder="Insira o telefone do paciente">

     </div>
     <div class="form-control">

          <label for="email">idade:</label>
          <input type="text" name="idade" placeholder="Insira a idade do paciente">

     </div>

     <div class="form-control">

          <label for="data">Data:</label>
          <input type="text" name="data" placeholder="Insira a data da consulta">

     </div>

     <div class="form-control">

          <label for="medico">Médico:</label>
          <input type="text" name="medico" placeholder="Insira o nome do Médico">

     </div>

      <div class="form-control">

          <label for="remedio">Receita:</label>
          <input type="text" name="remedio" placeholder="Insira a presquição ">

     </div>


     <input type="submit" value="Enviar">





</form>