*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    margin-left: 35%;
    margin-top: 5%;
  }
.box{
    background: white;
    width: 500px;
    padding-bottom: 40px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.boxCad{
    margin-top: -250px;
    background: white;
    width: 500px;
    padding-bottom: 40px;
    padding-left: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.text{
    padding-left: 30%;
}

input{
   width: 100%;
   height: 30px;
}
.botao{
    border: 2px solid black;
    border-radius: 5px;
}
a{
   
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 150%;
}
a:link {text-decoration: none} 
a:visited {text-decoration: none} 
a:active {text-decoration: none} 
a:hover {color: blueviolet;}
