::-webkit-scrollbar {
  width: 7px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}
