

/* css com divs do botão excluir e editar */
.editar{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 4%;
    cursor: pointer;
    text-decoration: none;
    color: black;
  
  
  
  }
  
  .editar:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .editarBtnM{
     width: 80%;
  }

  

  .excluir{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 4%;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .excluir:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .exluirBtnM{
     width: 80%;
  }

  /* Botão de home */
  .home {
     /* border:solid black 2px; */
    margin-right: 1500px;
    border-radius: 20px;
    cursor: pointer;

  }

  .home:hover{
background-color: gray;
  }
  /* seta para retornar */
  .link {
      /* border: solid black 2px; */
    display: block;
    margin-right: 1480px;
    border-radius: 20px;
    
  }
  
  /* .seta {
    margin-right: 1500px;
    border-radius: 20px;
    
    border: solid black 2px;
    
  }

  .seta:hover{
    background-color: gray;
    border: solid black 2px;
      } */


.Title {
    /* border: solid black 2px; */
    width: 1520px;
    display: block;
    height: 100px;


}




/* container dos medicamentos */

.medicamentosContainer {
  
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
 width: 1000px;
flex-wrap: wrap;



}

.medlink{

text-decoration: none;
color:  blue;

}
