<h1>Busca de Exames</h1>
<link rel='stylesheet' href='/public/css/style_exames.css' />

<hr>
<div class="container">
    <form action="/buscando/" method="post">

        <div class="form-control">
            <label for="id">Id do exame</label>
          <input type="number" name="id" placeholder="Digite o Id">
        </div>

    <input type="submit" value="Buscar">
        
    </form>
    </div>
    <hr>
    <a href="/">Home</a>
    <hr>
    <a href="/index_exames">Exames</a>