<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Cadastro paciente</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body class="bg-light">

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                    class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path
                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                    <path fill-rule="evenodd"
                        d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                </svg>
                <h2>Cadastro</h2>
                <p class="lead">Insira seus dados para ter acesso aos nossos amplos benefícios e atendimentos.</p>
            </div>

            <div class="row g-5 d-flex justify-content-center">
                <div class="col-md-7 col-lg-10">
                    <h4 class="mb-3">Preencha os dados abaixo:</h4>
                    <form class="needs-validation" action="/novoCliente" method="post" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Insira seu nome" value="" name="nome" required>
                                <div class="invalid-feedback">
                                    Por favor insira seu nome.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Sobrenome</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Insira seu sobrenome" value="" name="sobrenome" required>
                                <div class="invalid-feedback">
                                    Por favor insira seu sobrenome.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail" name="email" required>
                                <div class="invalid-feedback">
                                    Por favor insira seu e-mail.
                                </div>
                            </div>

                            <div class="col-8">
                                <label for="address" class="form-label">Telefone</label>
                                <input type="text" class="form-control" id="address"
                                    placeholder="Insira seu telefone para contato" name="telefone" required>
                                <div class="invalid-feedback">
                                    Por favor insira seu telefone.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="senha" class="form-label">Data de nascimento</label>
                                <input type="date" class="form-control" placeholder="Insira sua data de nascimento" name="nascimento" required>
                                <div class="invalid-feedback">
                                    Por favor insira sua data de nascimento.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="zip" class="form-label">CPF</label>
                                <input type="text" class="form-control" id="zip" placeholder="Insira seu CPF" name="cpf" required>
                                <div class="invalid-feedback">
                                    Por favor insira seu CPF.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" class="form-control" placeholder="Insira uma senha" name="senha" required>
                                <div class="invalid-feedback">
                                    Por favor insira uma senha.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-100 btn btn-primary btn-lg" type="submit">Finalizar cadastro</button>
                    </form>
                </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017–2022 Company Name</p>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="/public/javascript/checkout.js"></script>
</body>

</html>