<h1>Cadastro Médico</h1>


<form action="/cadastrarM" method="post">

<div>
    <label for="nome">Nome completo:</label>
    <input type="text" name="nome" placeholder="Nome completo">
</div>

<div>
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" placeholder="Insira seu CPF">
</div>

<div>
    <label for="email">E-mail</label>
    <input type="text" name="email" placeholder="E-mail">
</div>

<div>
    <label for="">Telefone</label>
    <input type="text" name="telefone" placeholder="Telefone">
</div>

<input type="submit" value="Cadastrar">


</form>