<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>


<body>

    
    <h1>Home</h1>

    <a href="/loginM">Medico</a>

    <br>
    <hr>

    <a href="/loginP">Paciente</a>

    <br>
    <hr>

    <a href="/medicamentospage">medicamentos</a>

    <br>
    <hr>

    <a href="/index_exames">Exames</a>
    
    <br>
    <hr>

    <a href="/receitaCad">diagnósticos</a>

    


  <div class="d-flex justify-content-center">
    <div class="card">
        <div class="circle" style="--clr:#f40103">
        <img src="https://pngimg.com/uploads/cocacola_logo/cocacola_logo_PNG2.png" class="logo">
        </div>
        <div class="content">
            <h2>CocaCola</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing alit. Esse eos architecto repellendus quos fugiat aspernatur necessitatibus facere.</p>
            <a href="#">Explore</a>
        </div>
        <img src="medico.png" class="product_img">
    </div>


    <div class="card">
        <div class="circle" style="--clr:#02953a">
        <img src="https://pngimg.com/uploads/sprite/sprite_PNG98769.png" class="logo">
        </div>
        <div class="content">
            <h2>Sprite</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing alit. Esse eos architecto repellendus quos fugiat aspernatur necessitatibus facere.</p>
            <a href="#">Explore</a>
        </div>
        <img src="cliente.png" class="product_img">
    </div>
  </div>


</body>

</html>
