<h1> Exames </h1>
<link rel='stylesheet' href='/public/css/style_exames.css' />

<div class="container">
<a href="/exames/">Exames Marcados</a>
<hr>
<a href="/busca_exames/">Buscar por Exame</a>
<hr>
<a href="/marcar_exames/">Marcar Exame</a>
<hr>
<a href="/">Home</a>
</div>
