<h1>Login Médico</h1>

<hr>

<br>


<form action="/login" method="post">

    <div>
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="Insira seu E-mail">
    </div>



    <a href="/cadastrarM">Cadastre-se aqui!</a>



    <input type="submit">

</form>