<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Squad</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/public/css/squad.css">
</head>

<body>
    
    <section class="d-flex justify-content-evenly">

        <div class="cartaoVisita">
            <div class="top">
                <span>José Anotnio</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>Meu Portifólio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://media.licdn.com/dms/image/D4D03AQE0ANrEe4uO7w/profile-displayphoto-shrink_200_200/0/1665860003192?e=1683763200&v=beta&t=SaF2N3vDkjQcr2QR2TZphDfWLxyWexN7wNdsulnyRIw" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/in/jos%C3%A9-antonio-b14160240/" target="_blank" rel="noopener noreferrer"><span><i class="bx bxl-linkedin"></i></span></a>
                        <a href="https://github.com/elguesabal" target="_blank" rel="noopener noreferrer"><span><i class="bx bxl-github"></i></span></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="cartaoVisita">
            <div class="top">
                <span>John Doe</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>My Portifolio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://nerdhits.com.br/wp-content/uploads/2021/08/kyojuro-rengoku.jpg" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <span><i class="bx bxl-facebook"></i></span>
                        <span><i class="bx bxl-linkedin"></i></span>
                        <span><i class="bx bxl-instagram"></i></span>
                        <span><i class="bx bxl-github"></i></span>
                    </div>
                </div>

            </div>

            <div class="bottomCard">
                <input type="submit" class="btnCard" value="Hire">
            </div>
        </div>


        <div class="cartaoVisita">
            <div class="top">
                <span>John Doe</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>My Portifolio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://nerdhits.com.br/wp-content/uploads/2021/08/kyojuro-rengoku.jpg" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <span><i class="bx bxl-facebook"></i></span>
                        <span><i class="bx bxl-linkedin"></i></span>
                        <span><i class="bx bxl-instagram"></i></span>
                        <span><i class="bx bxl-github"></i></span>
                    </div>
                </div>

            </div>

            <div class="bottomCard">
                <input type="submit" class="btnCard" value="Hire">
            </div>
        </div>


        <div class="cartaoVisita">
            <div class="top">
                <span>John Doe</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>My Portifolio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://nerdhits.com.br/wp-content/uploads/2021/08/kyojuro-rengoku.jpg" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <span><i class="bx bxl-facebook"></i></span>
                        <span><i class="bx bxl-linkedin"></i></span>
                        <span><i class="bx bxl-instagram"></i></span>
                        <span><i class="bx bxl-github"></i></span>
                    </div>
                </div>

            </div>

            <div class="bottomCard">
                <input type="submit" class="btnCard" value="Hire">
            </div>
        </div>


        <div class="cartaoVisita">
            <div class="top">
                <span>John Doe</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>My Portifolio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://nerdhits.com.br/wp-content/uploads/2021/08/kyojuro-rengoku.jpg" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <span><i class="bx bxl-facebook"></i></span>
                        <span><i class="bx bxl-linkedin"></i></span>
                        <span><i class="bx bxl-instagram"></i></span>
                        <span><i class="bx bxl-github"></i></span>
                    </div>
                </div>

            </div>

            <div class="bottomCard">
                <input type="submit" class="btnCard" value="Hire">
            </div>
        </div>


        <div class="cartaoVisita">
            <div class="top">
                <span>John Doe</span>
                <i class="bx bx-dots-vertical-rounded"></i>
                <p>My Portifolio</p>
            </div>

            <div class="middle">
                <div class="left">
                    <img src="https://nerdhits.com.br/wp-content/uploads/2021/08/kyojuro-rengoku.jpg" alt="">
                </div>
                <div class="right">
                    <label for="">Skills:</label>
                    <div>
                        <ul>
                            <li>Web Designer</li>
                            <li>Programmer</li>
                            <li>Graphic Designer</li>
                        </ul>
                    </div>
                    <div class="social-icon">
                        <span><i class="bx bxl-facebook"></i></span>
                        <span><i class="bx bxl-linkedin"></i></span>
                        <span><i class="bx bxl-instagram"></i></span>
                        <span><i class="bx bxl-github"></i></span>
                    </div>
                </div>

            </div>

            <div class="bottomCard">
                <input type="submit" class="btnCard" value="Hire">
            </div>
        </div>

    </section>

</body>
</html>